html,
button,
input,
select,
textarea {
    color: #fff;
}
body {
  background: #000;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}
::-moz-selection {
    background: #fff;
    color: #000;
    text-shadow: none;
}
::selection {
    background: #fff;
    color: #000;
    text-shadow: none;
}
.wrapper {overflow: hidden;background: #000;}
.nav-bar {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  height: 100vh;
  top:0;
  left:0;
  transition: all ease-in .6s;
  -moz-transition: all ease-in .6s;
  -webkit-transition: all ease-in .6s;
}
.nav-bar.open {
  opacity: 1;
  background: #fff;
  z-index: 999;
}
.close-button {
  display: inline-block;
  position: absolute;
  right: 15px;
  top:15px;
}
.close-button i{
  border-radius: 50%;
  background: #000;
  color: #fff;
  line-height: 24px;
  height: 24px;
  width: 24px;
  font-size: 14px;
  text-align: center;
  transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
}
.close-button:hover i{
  background: #a7d6dc;
}
.navinner {width: 100%; max-width: 1200px;text-align: right;margin: 0 auto;}
.top-menu {
  padding: 0;
  margin: 0;
  margin-top: 8vh;
  margin-bottom: calc(12vh - 48px);
}
.top-menu li{
  display: block;
}
.top-menu li a{
  display: inline-block;
  color: #000;
  padding: 0;
  font-size: 64px;
  font-weight: 900;
  text-decoration: none;
  letter-spacing: 4vw;
  line-height: 20vh;
  transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
}
.top-menu li a:hover{color:#a7d6dc;}
.social-menu {
  padding: 0  4vw 0 0;
  margin: 0;
  display: inline-block;
}
.social-menu li{display: inline-block;}
.social-menu li a{color: #cecece;font-size: 24px;padding: 0 5px;}
.social-menu i{
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
}

.home {
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: relative;
}

.container {
  position: relative;
  max-width: 320px;
  top: 60%;
  left: 60%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}

.scene {
  padding: 0;
  margin: 0;
  cursor:pointer;
  z-index: 99;
}
#sceneright {z-index: 98;}
.border {
  display: block;
  height: 94px;
  width: 94px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  top:-1px;
  left: -1px;
  border: 2px solid #000;
  transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
}
.circle {
  display: block;
  height: 96px;
  width: 96px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box; 
  -moz-background-clip:    padding; 
  background-clip:         padding-box;
  transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  z-index: 90;
}
.scenewrap {
  display: block;
  height: 96px;
  width: 96px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transition: all ease-out.1s;
  -moz-transition: all ease-out.1s;
  -webkit-transition: all ease-out.1s;
}
.scene:hover .scenewrap {
  -webkit-transform:scale(1.2,1.2);
  -ms-transform:scale(1.2,1.2);
  transform:scale(1.2,1.2);
}
.scenewrap.open {
  position: absolute;
  top:-100vw;
  left:-100vw;
  background: #fff;
  width: 200vw;
  height: 200vw;
  z-index: 998;
}
.scene:hover .circle {
  -webkit-transform:scale(1.2,1.2);
  -ms-transform:scale(1.2,1.2);
  transform:scale(1.2,1.2);
}
.scene:hover .border {
  border-color: transparent;
  -webkit-transform:scale(1.2,1.2);
  -ms-transform:scale(1.2,1.2);
  transform:scale(1.2,1.2);
}
.circle:before {
  display: block;
  content: "";
  background: #fff;
  height: 192px;
  width: 192px;
  position: absolute;
  bottom: 0;
  left: -48px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  animation: eyebg 8s linear infinite;
  -moz-animation: eyebg 8s linear infinite;
  -webkit-animation: eyebg 8s linear infinite;
}
@keyframes eyebg {
  0%, 47%, 52%, 100% {
    height: 192px;
    bottom: 0;
  }
  50% {
    height: 96px;
    bottom: 48px;
  }
}
.scene:hover .circle::before {
  -webkit-transform:translateY(48px);
  -moz-transform:translateY(48px);
  transform:translateY(48px);
}

.circle::after {
  display: block;
  content: "";
  background: #000;
  height: 192px;
  width: 192px;
  position: absolute;
  bottom: 0;
  left: -48px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;

  animation: eye 8s linear infinite;
  -moz-animation: eye 8s linear infinite;
  -webkit-animation: eye 8s linear infinite;
}
@keyframes eye {
  0%, 48%, 52%, 100% {
    -webkit-transform:scaleY(.5);
    -moz-transform:scaleY(.5);
    transform:scaleY(.5);
  }
  50% {
    -webkit-transform:scaleY(1);
    -moz-transform:scaleY(1);
    transform:scaleY(1);
  }
}
.scene:hover .circle::after {
  /*-webkit-transform:translateY(-192px);
  -moz-transform:translateY(-192px);
  transform:translateY(-192px);*/
  bottom: 192px;
}
i.pupil {
  height: 40px;
  width: 40px;
  top: 28px;
  left: 28px;
  background: #000;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
}
.scene:hover .menu i.pupil {
  border-radius: 0;
  -webkit-transform:scale(0.8,0.15);
  -ms-transform:scale(0.8,0.15);
  transform:scale(0.8,0.15);
}
.scene:hover .menu i.pupil:before {
  display: block;
  content: "";
  background: #000;
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: 40px;
}
.scene:hover .menu i.pupil:after {
  display: block;
  content: "";
  background: #000;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 40px;
}
.social {
  position: relative;
  display: block;
  height: 96px;
  width: 96px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #000;
  transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
}
.social i.pupil {
  display: inline-block;
}
.scene:hover .social i.pupil {
  left: -96px;
}
.flickitywrapper {
  top: 0px;
  left: 100px;
  position: absolute;
  height: 96px;
  width: 96px;
  transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
}
.flickity, .item {
  display: block;
  height: 96px;
  width: 96px;
  top: 0px;
  left: 0px;
  font-size: 32px;
}
.item {
  color: #000;
  text-decoration: none;
  position: relative;
}
.item i {
  display: block;
  color: #000;
  position: relative;
  height: 32px;
  width: 32px;
  top: 32px;
  left: 32px;
}
.scene:hover .social .flickitywrapper{left:0;}
.item i{
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
}
i.fa-dribbble:hover{color: #ea4c89;}
i.fa-instagram:hover{
  background: #f9984c;
  background: -moz-linear-gradient(45deg, #f9984c 0%, #d55262 25%, #a03893 50%, #723eb5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f9984c 0%,#d55262 25%,#a03893 50%,#723eb5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f9984c 0%,#d55262 25%,#a03893 50%,#723eb5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9984c', endColorstr='#723eb5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
i.fa-500px:hover{color: #079adf;}
i.fa-medium:hover{color: #00ab6b;}
i.fa-twitter:hover{color: #00aced;}
i.fa-github:hover{color: #4183c4;}
i.fa-snapchat-ghost:hover{color: #fffc00;}
i.fa-linkedin:hover{color: #0077b5;}
.flickity-prev-next-button {
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0;
}
.flickity-prev-next-button.previous {left: 5px;}
.flickity-prev-next-button.next {right: 5px;}

/* About */

.about {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #000000 , #53346D); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #000000 , #53346D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.about h2 {
  font-size: 144px;
}
.mountain {
  position: absolute;
  top: 33vh;
  left: 0;
  right: 0;
  background: #000;
  z-index: 2;
  width: 100vw;
  height: 67vh;
}


@media screen and (max-width:920px) {
  .container {
    left: auto;
    margin: 0 auto;
  }
}

@media screen and (max-width:768px) {

}

@media screen and (max-width:568px) {

}

@media screen and (max-width:480px) {

}

@media screen and (max-width:330px) {

}