html,
button,
input,
select,
textarea {
    color: #fff;
}
body {
  background: #111;
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: 300;
}
::-moz-selection {
    background: #fff;
    color: #111;
    text-shadow: none;
}
::selection {
    background: #fff;
    color: #111;
    text-shadow: none;
}